<div class="container-fluid">
	<div class="row bg-dark mt-3">
		<div class="col p-4">
			<ul class="nav flex-column float-right">
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/"><i class='fas fa-angle-right'></i> Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/contact"><i class='fas fa-angle-right'></i> Contact us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/blog"><i class='fas fa-angle-right'></i> Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" routerLink = "/offers"><i class='fas fa-angle-right'></i> Tours</a>
				</li>
			</ul>
		</div>
		<div class="col p-4 text-white">
			<h3 class="text-center"><i class="fa fa-snowflake-o"></i> Snow Bros</h3>
			<br>
			<br>
			<p class="text-center">All photos taken by <br>
				<a class=" text-white" href="https://www.instagram.com/animal_af/">Anton Afanasev</a>
			</p>
		</div>
		<div class="col p-4 text-white">
			<div class="w-50 mr-auto">
				<h5>Contacts:</h5>
				<p>1220 Vienna, Leonard-Bernstein-Straße 8<br>
					snow-brozz@fakemail.com<br>
					+43(676)1234567
				</p>
			</div>
		</div>
	</div>
</div>
