<nav class="navbar navbar-expand-sm navbar-light border-bottom">
	<a class="navbar-brand ml-auto" href="/"><i class="fa fa-snowflake-o"></i> Snow Bros</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" routerLink = "/" title="home">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink = "/blog" title="aboutus">Blog</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink = "/offers" title="tour">Tours</a>
		</li>
	</ul>
	<a class="btn btn-outline-dark ml-auto mr-3" routerLink = "/cart" type="button">
		Order({{amount}}) <i class="fa fa-shopping-basket"></i></a>
</nav>