<div class="container">
	<div class="row">
		<!-- left column (narrow) filter-form and add-form -->
		<div class="col-md-4">
			<div class="container-fluid p-2 mx-0 my-3 border rounded-lg">
				<h5>Filter by</h5>
				<form [formGroup]="filterForm" (ngSubmit)="filterItems(filterForm.value)">
					<div class="form-group">
						<label for="dur">Duration <span class="text-primary"> {{filterForm.value.dur}}</span></label>
						<input formControlName="dur" type="range" class="custom-range" id="dur" max="{{getDuration()}}" min="1" step="1" value="{{getDuration()}}">
					</div>
					<div class="form-group">
						<label for="pr">Price <span class="text-primary"> {{filterForm.value.price}}</span></label>
						<input formControlName="price" type="range" class="custom-range" id="pr" max="{{getPrice()}}" min="10" step="10" value="{{getPrice()}}">
					</div>
					<div class="form-group">
						<label for="tp">Type</label>
						<select formControlName="type" type="range" class="custom-select" id="tp" value="all">
							<option>all</option>
							<option *ngFor="let tp of types">{{tp}}</option>
						</select>
					</div>
					
					<div class="btn-group">
						<input type="button" class="btn btn-outline-dark" value="Clear Filter" (click)="clearFilter()">
						<input type="submit" class="btn btn-outline-dark" value="Apply Filter">
					</div>
				</form>
			</div>
			
			<div class="container-fluid p-2 mx-0 my-3 border rounded-lg">
				<h5>Add Tour</h5>
				<form [formGroup]="addForm" (ngSubmit)="addToOffers(addForm.value)">
					<div class="form-group">
						<label for="tp-ad">Type</label>
						<select formControlName="type" type="range" class="custom-select" id="tp-ad">
							<option *ngFor="let tp of types">{{tp}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dest-ad">Destination:</label>
						<input formControlName="destination" type="text" class="form-control" id="dest-ad">
					</div>
					<div class="form-group">
						<label for="date-ad">Begin:</label>
						<input formControlName="startDate" type="text" class="form-control" id="date-ad">
					</div>
					<div class="form-group">
						<label for="dur-ad">Duration:</label>
						<input formControlName="dur" type="text" class="form-control" id="dur-ad">
					</div>
					<input type="submit" class="btn btn-primary" value="Add Tour">
				</form>
			</div>
			
		</div>
		<!-- right column (bright) -->
		<div class="col-md-8">
			<!-- ALL OFFERS -->
			<div class="row mx-0 my-3 border rounded-lg" *ngFor="let itm of offers">
				<div class="col-4 p-2">
					<img class="img-fluid rounded-lg" src="{{itm.pic}}" alt="">
				</div>
				<div class="col-8 p-2">
					<h4 class="card-title">
						{{itm.type}} tour<br>
						<span class="small">{{itm.destination}}</span>
					</h4>
					<h5 class="card-text">
						{{getTourDates(itm)}}<span class="float-right">{{itm.duration}} day(s)</span><br>
						<span class="text-info">{{itm.price | currency }}</span>
					</h5>
					<p class="card-text">{{itm.description}}.</p>
					<button class="btn btn-outline-dark" (click)="addToCart(itm)" type="button">
						Book <i class='fas fa-shopping-cart'></i>
					</button><span class="badge badge-secondary badge-pill float-right">{{itm.placesFree}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

